<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCysr__JZ2Hvdi51c0id99ummDnYSyT328</string>
	<key>GCM_SENDER_ID</key>
	<string>304987351979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>A.Login-for-App</string>
	<key>PROJECT_ID</key>
	<string>minerva-e1f5c</string>
	<key>STORAGE_BUCKET</key>
	<string>minerva-e1f5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304987351979:ios:1ed32d138382dd727900ee</string>
</dict>
</plist>